<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.1" ></compilation>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHolidayBroker" />
        <binding name="BasicHttpsBinding_IHolidayBroker">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IUniversityTermTimes" />
        <binding name="BasicHttpsBinding_IUniversityTermTimes">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IAirportTransfer" />
        <binding name="BasicHttpsBinding_IAirportTransfer">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://holidaybrokerservice.azurewebsites.net/HolidayBroker.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHolidayBroker"
        contract="IHolidayBroker" name="BasicHttpBinding_IHolidayBroker" />
      <endpoint address="https://holidaybrokerservice.azurewebsites.net/HolidayBroker.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IHolidayBroker"
        contract="IHolidayBroker" name="BasicHttpsBinding_IHolidayBroker" />
      <endpoint address="http://universitytermtimeservice.azurewebsites.net/UniversityTermTimes.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUniversityTermTimes"
        contract="IUniversityTermTimes" name="BasicHttpBinding_IUniversityTermTimes" />
      <endpoint address="https://universitytermtimeservice.azurewebsites.net/UniversityTermTimes.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUniversityTermTimes"
        contract="IUniversityTermTimes" name="BasicHttpsBinding_IUniversityTermTimes" />
      <endpoint address="http://airporttransferservice.azurewebsites.net/AirportTransfer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirportTransfer"
        contract="IAirportTransfer" name="BasicHttpBinding_IAirportTransfer" />
      <endpoint address="https://airporttransferservice.azurewebsites.net/AirportTransfer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAirportTransfer"
        contract="IAirportTransfer" name="BasicHttpsBinding_IAirportTransfer" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
